.listar-vagas{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  .card{
    background-color: #af9dd1;
    border: 1px solid rgba(255, 255, 255, 0.753);
    box-shadow: 0 4px 12px rgba(61, 8, 146, 0.705);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 18rem;
    margin: 10px;

    &:hover{
      transform: translateY(-5px);
      box-shadow: 0 6px 16px rgba(93, 19, 211, 0.808);
    }
    img{
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-bottom: 1px solid #ffffff;
    }
    .card-body{
      padding: 1rem;

      h5.card-title{
        color: #391068;
        font-size: 1.5rem;
        line-height: 1.5;
        margin-bottom: 0.5rem;
      }

      p.card-text{
        color:#4f187c;
        font-size: 0.8rem;
        line-height: 1.5;
        margin-bottom: 0.5rem;
      }
      p.card-text:last-child{
        margin-bottom: 0;
      }
    }
}
}
.rodape{
  height: 10vh;
}
