.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #ddcaf3;
  box-shadow: 0 2px 4px rgba(67, 10, 94, 0.5);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;

  a{
    text-decoration: none;
    color: #391068;    ;
    font-weight: bold;
  }

.navItems{
  display: flex;
  gap: 1.5rem;

  .navLink{
    color:#6820bb;
    padding: 0.5rem 0;
    transition: color 0.3s ease; //Transição suave da cor

    &:hover{
      color: #8c00ff;
    }
  }
}

// Media Query => Telas Menores
@media (max-width: 800px) {
  flex-direction: columns;
  align-items: flex-start;
  padding: 1rem0;

  .navItems{
    flex-direction: column;
    width: 100%;
    gap: 0;
    margin-top: 1rem;

    .navLink{
      padding: 0.8rem 0;
      border-top: 1px solid rgba(0,0,0,0.05);
    }
    &last-child{
      border-bottom: 1px solid rgba(0,0,0,0.05);
    }
  }
}
}
