/* faz a estilização do treco ai */

form {
    display: flex;
    justify-content: center;
    margin-bottom: auto;
}
input {
    padding: 30px;
    font-size: 16px;
    border: 2px solid #343164;
    border-radius: 5px;
    width: 300px;
}
button{
    padding: 20px;
    font-size: 16px;
    border: none;
    background-color: #c454b8;
    color: aliceblue;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}