/* Estilização da lista de tarefas */

ul {
    list-style: none;
    padding: 0;
    max-width: 400px;
    margin: auto;
}
li{
    background-color: #6b64cc;
    margin: 5px;
    color: aliceblue;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
button{
    background-color: #db73d1;
    border: none;
    color: aliceblue;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
